
.nav  {
    grid-area: n;
    background-color: purple;
    padding:20px
}
.item {
   padding: 30px;

}
.item a {
    text-decoration: none;
    color: white;
}
.item a.activeLink{
    margin-left: 10px;
    color: navajowhite;


}